body {
	font-family: 'Didact Gothic', sans-serif;
	margin: 0;
	padding: 0;
}


body * {
	vertical-align: top;

}


.header {
	position: relative;
	color: #fff;
	height: 60px;
	margin: 0;
	background: url('images/header.png'); 
	background-repeat: repeat-x top-left;

}

.container {
	width: 960px;
	margin: 0 auto;
	position: relative;
}

.logo {
	width: 160px;
	display: inline-block;

}

.nav {
	display: inline-block;
	margin: 0 0 0 40px;
	padding: 0;

}

.nav ul {
	display: inline-block;
}

.nav li {
	list-style-type: none;
	display: inline-block;
	text-transform: uppercase;
	margin-right: 30px;
	text-shadow: 0 1px 1px #000;
	font-size: 17px;
	letter-spacing: 1px;
	color: white;

}
/*right header*/

.username {
	display: inline-block;
	list-style-type: none;
	font-family: 'Didact Gothic', sans-serif;
	margin: 0 0 0 60px;
	padding-bottom: 15px;
	margin-top: 12px;
	margin-left: 60px; 
	letter-spacing: 1px;

}

.usermenu {
	right: 0;
	top: 5;
	right: 0;
	display: inline-block;
	position: absolute;

}

 .avatar {
	width: 50px;
	height: 50px;
	position: absolute;
	border-radius: 50px;
}

.avatar img {
	margin: (0 -5);
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.usermenubutton {
	width: 23px;
	height: 60px;	
	margin: -5 3 ;
	display: inline-block;
	
}


/* Banner! */

.banner {
	box-shadow: 0 2px 2px #444;

}

.banner h1 {
	height: 70px;
	margin: 0px;
	background: #fff;
	text-align: center;
	font-family: 'Didact Gothic', sans-serif;
	color: black;
	font-size: 30px;
	font-weight: -1px;

}
/*end header*/
.middle {
	height: 580px;
	min-width: 960px;
	background-color: rgb(242,240,236);
	position: relative;

}



.content {
	display: inline-block;
	width: 620px;

}

/*left middle*/
.leftcontainer {
	width: 620px;
	height: 485px;
	display: inline-block;
	top: 10%;
}

.content {
	width: 620px;
	height: 400px;
	background: url("images/arcade.png");

}

.bannertop {
	height: 52px;
	width: 620px;
	background: rgba(0, 0, 0, 0.5);
}

.toptext {
	margin: 7px 26px;
	display: inline-block;
	color: #fff;
	font-size: 25px;
	letter-spacing: 1.5px;
	list-style-type: none;

}

.toptext2 {
	display: inline-block;
	color: #fff;
	font-size: 12px;
	list-style-type: none;
	width: 170px;
	margin: -25px 400px;
}

.graybox {
	position: absolute;
	background: rgb(208, 205, 199);
	width: 620px;
	height: 85px;
	margin-top: 348px;
	font-size: 19px;

}

.bottom1 {
	color: rgb(120, 120, 120);
	font-size: 13px;
	outline: solid 2px orange;

}

/*end left middle*/

/*right side box*/


.sidebar {
	width: 300px;
	height: 375px;
	display: inline-block;
	border: yellow 2px solid;
}

.box1 {
	width: 140px;
	height: 150px;
	top: 20px;
	background: rgb(207, 205, 199)
}

.box2 {
	width: 140px;
	height: 150px;
	display: inline-block;
	background: rgb(207, 205, 199);
	margin: -150px 150px;
}


.leftnumber {
	font-size: 72px;
	text-align: center;
	color: #fff;
	text-shadow: 0 2px 2px #444;
}

.leftclass{
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
	margin: 6px;
	letter-spacing: 1px;
	font-weight: 3px;

}

.boxdiv1 {
	width: 140px;
	height: 32px;
	margin-left: -2px;
	margin-top: 22px;
	border: green 2px solid;
	background: rgb(182, 174, 162);
	position: absolute;


}

.rightnumber {
	font-size: 72px;
	text-align: center;
	color: #fff;
	text-shadow: 0 2px 2px #444;
}

.rightclass {
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;		
	margin: 6px;
	letter-spacing: 1px;
	font-weight: 3px;
}

.boxdiv2 {
	width: 140px;
	height: 32px;
	border: solid 2px blue;
	margin-top: 22px;
	background: rgb(182, 174, 162);
	position: absolute;


}
/*end right side box*/






/*right style*/
.joinmob .joinbutton {
	position: relative;
	border: 1px solid rgb(210,143,0);
	border-radius: 6px;
	line-height: 60px;
	color: #fff;
	font-size: 20px;
	text-align: center;
	background: yellow;
	margin-top: 30px

}

.joinmob {
	width: 300px;
	height: 58px;
	height: 60px;
	color: #fff;
}

.joincard {
	width: 290px;
	height: 75px;
	border: solid 2px blue;
	margin: 2px 4px;
	background: #fff;
}

.jointext1 {
	color: rgb(62, 62, 62);
	font-size: 15px;

}

.jointext2 {
	color: rgb(62, 62, 62);
	font-size: 17px;

}

.joinbottom {
	margin: 20px -5px;
	width: 300px;
	height: 58px;
	color: rgb(120, 120, 120);
	font-size: 11px;
	text-align: center;
	outline: 2px solid red;
	border: 1px solid rgb(162, 162, 162)
}

/*ribbon*/
.el {
	padding-top: 6px;
	display: block;
	position: relative;
	top: -22px;
	height: 29px;
	left: -4px;
	width: 138px;
	background: #fdd100;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-size: 14px;
	
	}
	
.el:before, .el:after {
	content: '';
	display: block;
	position: absolute;
	border-style: solid;
	
	}
	
.el:before {
	display: block;
	left: 0;
	top: 29px;
	border-width: 8px;
	border-color: #fdd100 #fdd100 transparent transparent;
	
	}
	
.el:after {
	display: none;
	right: 0;
	top: 29px;
	border-width: 8px;
	border-color: #fdd100 transparent transparent #fdd100;
	
	}
	/*end ribbon*/


.white {
	min-width: 960px;
	height: 610px;
	background-color: #fff
}

/**/

.footer {
	height: 200px;
	min-width: 960px;
	background-color: rgb(84,83,82);

}


