body {
	font-family: 'Didact Gothic', sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
}


body * {
	vertical-align: top;

}


.header {
	position: relative;
	color: #fff;
	height: 60px;
	margin: 0;
	background: url('images/header.png'); 
	background-repeat: repeat-x top-left;

}

.container {
	width: 960px;
	margin: 0 auto;
	position: relative;
}

.logo {
	width: 170px;
	display: inline-block;
	height: 60px;
	background-image: url("images/logo.png");


}

.nav {
	left: 33px;
	line-height:55px;
	list-style-type: none;
	display: inline-block;
	text-transform: uppercase;
	margin: 0 auto;
	text-shadow: 0 1px 1px #000;
	font-size: 17px;
	letter-spacing: 1px;
	color: white;
	display: inline-block;
	position: relative;

}

.nav1 {
	left: 76px;
	line-height: 55px;
	list-style-type: none;
	display: inline-block;
	text-transform: uppercase;
	margin: 0 auto;
	text-shadow: 0 1px 1px #000;
	font-size: 17px;
	letter-spacing: 1px;
	color: white;
	display: inline-block;
	position: relative;
}
/*right header*/

.usermenu {
	margin: 0 auto;
	left: 725px;
	top: 5;
	display: inline-block;
	position: absolute;

}

.username {
	position: relative;
	display: inline-block;
	list-style-type: none;
	left: 67px;
	font-size: 17px;
	padding-bottom: 20px;
	line-height: 31px;
	margin-top: 6px; 
	letter-spacing: 1px;
	text-shadow: 0 1px 1px #000;

}


.avatar img {
	display: inline-block;
	width: 60px;
	margin: 0 auto;
	top: -5px;
	height: 60px;
	border-radius: 50%;
	position: absolute;
}

.usermenubutton {
	width: 23px;
	height: 60px;	
	margin: 0 auto;
	position: relative;
	left: 68px;
	top: -5px;
	display: inline-block;
	background-image: url('images/triangle.png');
	background-repeat: no-repeat;
	
}


/* Banner! */

.banner {
	z-index: 1;
	margin: 0 auto;
	height: 88px;
	position: relative;
	box-shadow: 0 5px 5px -4px gray;


}



.banner1 {
	margin: 0 auto;
	background: #fff;
	text-align: center;
	color: black;
	font-size: 36px;
	position: relative;
	line-height: 70px;
	


}
/*end header*/
.middle {
	height: 580px;
	min-width: 960px;
	background-color: rgb(242,240,236);
	position: relative;
	margin: 0 auto;
	z-index: -1;

}

.bodycontainer {
	width: 960px;
	height: 530px;
	margin: 0 auto;
	position: relative;
	top: 20px;

}



/*left middle*/
.leftcontainer {
	width: 620px;
	height: 532px;
	display: inline-block;
	top: 10%;
	margin-left: 38px;

}

.content {
	height: 400px;
	width: 620px;
	width: 100%;
	height: 100%;
	background: url("images/arcade.png");
	background-repeat: no-repeat;
	z-index: 3;
	position: relative;
	display: inline-block;
	background-size: contain;

}

.bannertop {
	height: 55px;
	width: 620px;
	background: rgba(0, 0, 0, 0.5);
	position: relative;
}

.toptext {
	margin: 7px 14px;
	display: inline-block;
	color: #fff;
	font-size: 33px;
	letter-spacing: 1.5px;
	text-shadow: 0 1px 1px #000;

}

.toptext2 {
	display: inline-block;
	color: #fff;
	font-size: 12px;
	list-style-type: none;
	width: 170px;
	height: 20px;
	margin: 0 auto;
	left: 204px;
	line-height: 40px;
	position: relative;
}

.clock	{
	background-image: url("images/clock.svg");
	height: 22px;
	width: 26px;
	background-size: contain;
	background-repeat: no-repeat;
	margin: 0 auto;
	left: 204px;
	top: 11px;
	position: relative;
	display: inline-block;


}

.graybox {
	position: relative;
	display: inline-block;
	background: rgb(208, 205, 199);
	width: 620px;
	height: 83px;
	z-index: 1;
	margin: 0 auto;
	bottom: 82px;

}

.graybox1 {
	color: rgb(65, 65, 65);
	margin: 19 23;
	font-size: 20px;
	width: 620px;
	font-style: italic;
	position: relative;
}

.arrow {
	bottom: 27px;
	right: 23px;
	display: inline-block;
	position: relative;
	margin: 0 auto;
	height: 24px;
	width: 39px;
	z-index: 2;
	background-image: url("images/arrow.png");
	background-repeat: no-repeat;
}

.bottom1 {
	position: relative;
	display: inline-block;
	margin: 0 auto;
	color: rgb(120, 120, 120);
	font-size: 11px;
	height: 30px;
	width: 532px;
	bottom: 64px;
	left: 30px;
	
}


/*ribbon*/
.mob	{
	color: #fff;
	position: relative;
	text-transform: uppercase;
	text-align: center;
	font-size: 16px;
	height: 12px;
	width: 125px;
	text-shadow: 0 1px 1px rgb(210, 143, 0);
	margin: 0 auto;
	bottom: 8px;


}

.el {
	padding-top: 6px;
	display: block;
	position: relative;
	top: 385px;
	height: 30px;
	left: -445px;
	width: 143px;
	background: #fdd100;
	box-shadow: 0px 1px 5px; 
	color: rgb(210, 143, 0);

	}
	
.el:before, .el:after {
	content: '';
	display: block;
	position: absolute;
	border-style: solid;
	
	}
	
.el:before {
	display: block;
	left: 0;
	top: 29px;
	border-width: 8px;
	border-color: #fdd100 #fdd100 transparent transparent;
	
	}
	
.el:after {
	display: none;
	right: 0;
	top: 29px;
	border-width: 8px;
	border-color: #fdd100 transparent transparent #fdd100;
	
	}
	/*end ribbon*/

/*end left middle*/

/*right side box*/


.sidebar {
	width: 304px;
	height: 420px;
	display: inline-block;
	position: absolute;
	right: -20px;
}

.box1 {
	width: 142px;
	height: 153px;
	top: 20px;
	background: rgb(207, 205, 199)
}

.box2 {
	width: 142px;
	height: 153px;
	display: inline-block;
	background: rgb(207, 205, 199);
	margin: -153px 150px;
}


.leftnumber {
	font-size: 74px;
	text-align: center;
	color: #fff;
	position: relative;
	top: 15px;
	text-shadow: 0 1px 1px #444;
}

.leftclass{
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
	margin: 6px;
	letter-spacing: 1.5px;
	color: rgb(65, 65, 65);

}

.boxdiv1 {
	width: 142px;
	height: 32px;
	margin-top: 26px;
	background: rgb(182, 174, 162);
	position: absolute;


}

.rightnumber {
	font-size: 74px;
	text-align: center;
	color: #fff;
	position: relative;
	top: 15px;
	text-shadow: 0 1px 1px #444;
}

.rightclass {
	font-size: 11.5px;
	text-transform: uppercase;
	text-align: center;		
	margin: 6px;
	letter-spacing: 1.5px;
	color: rgb(65, 65, 65);
	
}

.boxdiv2 {
	width: 142px;
	height: 32px;
	margin-top: 26px;
	background: rgb(182, 174, 162);
	position: absolute;


}
/*end right side box*/






/*right style*/
.joinmob {
	position: relative;
	box-shadow: 0 2px 2px rgb(215, 222, 236);
	border: 1px solid rgb(210,143,0);
	border-radius: 6px;
	line-height: 60px;
	color: #fff;
	font-size: 20px;
	text-align: center;
	margin-top: 30px;
	width: 300px;
	height: 60px;
	z-index: 3;
	text-shadow: 0 1px 1px rgb(180, 101, 0);
	background: rgba(241,231,103,1);
	background: -moz-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(254,182,69,1)));
	background: -webkit-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
	background: -o-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
	background: -ms-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
	background: linear-gradient(to bottom, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=0 );


}

.joincard {
	width: 290px;
	height: 77px;
	margin: -2 4px;
	background: #fff;
	position: relative;
	border: 1px solid gray;
	border-radius: 6px;
	z-index: 1;
	box-shadow: inset 0 -2px 2px rgb(177, 177, 177);

}

.jointext1 {
	color: rgb(62, 62, 62);
	font-size: 22px;
	display: inline-block;
	font-weight: bolder;
	margin-top: 15px;

}

.jointext2 {
	margin-top: 40;
	margin-left: -135;
	color: rgb(62, 62, 62);
	font-size: 17px;
	display: inline-block;

}

.joinbadge {
	height: 58px;
	width: 45px;
	display: inline-block;
	background: url("images/badge.png"); 
	background-repeat: no-repeat;
	margin: 6px;
	

}

.joinbottom {
	margin-top: -7px;
	margin-left: 35px;
	width: 205px;
	height: 30px;
	color: rgb(120, 120, 120);
	font-size: 9px;
	text-align: center;

}


.line {
	margin-top: 5px; 
	width: 305px;
	height: 0px;
	border-top: solid 1px rgb(177, 177, 177);
	border-bottom: solid 1px rgb(177, 177, 177);

	}

.social {
	height:32px;
	width: 186px;
	background-image: url("images/social.png");
	display: inline-block;
	background-repeat: no-repeat;
	margin-top: 10px;

	}

.socialtext {
	height: 14px;
	word-spacing: 111px;
	color: blue;
	display: inline-block;
	margin-top: 12px;
	font-size: 12px;

	}

/*second middle*/

.white {
	min-width: 960px;
	height: 612px;
	margin: 0 auto;
	background-color: #fff
}

.divider {
	min-width: 745px;
	height: 310px;
	margin: 0 auto;
}

.image1 {
	background-image: url("images/watch1.png");
	height: 197px;
	width: 302px;
	position: relative;
	display: inline-block;
	margin-top: 33px;
	background-repeat: no-repeat;
	margin-left: 40px;
}

.part {

	height: 35px;
	width: 227px;
	margin-left: 40px;
}

.part1 {
	height: 19px;
	width: 163px;

}

.parttext {
	height: 20px;
	width: 150px;
	color: black;
	font-weight: bolder;
	font-size: 6px;
	margin-top: -12px;

}

.yellow {
	background-image: url("images/clock.svg");
	background-repeat: no-repeat;
	height: 22px;
	width: 24px;
	position: relative;
	margin-left: 228px;
	margin-top: -18px;

}

.parttext2 {
	position: relative;
	display: inline-block;
	height: 13px;
	width: 34px;
	color: black;
	font-size: 6px;
	margin-top: -28px;
	margin-left: 255px;

}

.parttext3 {
	height: 12px;
	width: 152px;
	font-size: 7px;
	color: black;
	margin-top: -4px;
}

.image2 {
	background: url("images/promoimage1.png");
	background-repeat: no-repeat;
	height: 197px;
	width: 302px;
	position: relative;
	display: inline-block;
	bottom: 229px;
	margin-left: 362px;


}

.promocode {
	height: 57px;
	width: 227px;
	display: inline-block;
	position: relative;
	margin-left: -230px;
	margin-top: -43px;
}

.promo {
	height: 18px;
	width: 230px;

}

.promo1 {
	height: 20px;
	width: 150px;
	color: black;
	display: inline-block;
	position: relative;
	font-weight: bolder;
	font-size: 6px;
	right: 74px;

}

.yellow1 {
	background-image: url("images/clock.svg");
	background-repeat: no-repeat;
	height: 22px;
	width: 24px;
	margin-left: 163px;
	margin-top: -9px;
	display: inline-block;

}

.promo2 {
	height: 13px;
	width: 34px;
	color: black;
	font-size: 6px;
	position: relative;
	display: inline-block;
	margin-top: -24px;
	margin-left: 189px;

}

.promo3 {
	height: 12px;
	width: 152px;
	font-size: 7px;
	color: black;
	position: relative;
	margin-top: 12px;
	right: 73px;

}

.image3 {
	background: url("images/twisted1.png");
	background-repeat: no-repeat;
	height: 197px;
	width: 302px;
	display: inline-block;
	position: relative;
	bottom: 425px;
	left: 689px;
}

.tour {
	height: 57px;
	width: 227px;
	display: inline-block;
	position: absolute;
	margin: 0 auto;
	left: 725px;
	bottom: 32px;
}

.tour1 {
	height: 20px;
	width: 156px;
	color: black;
	position: absolute;
	display: inline-block;
	font-weight: bolder;
	font-size: 5px;
	margin: 0 auto;
	right: 105px;

}

.yellow3 {
	background-image: url("images/clock.svg");
	background-repeat: no-repeat;
	height: 22px;
	width: 24px;
	margin-left: 168px;
	margin-top: 7px;
	display: inline-block;
	position: relative;

}

.tour2 {
	height: 13px;
	width: 50px;
	color: black;
	font-size: 7px;
	position: relative;
	display: inline-block;
	margin-top: -23px;
	left: 203px;

}

.tour3 {
	height: 12px;
	width: 200px;
	font-size: 7px;
	color: black;
	display: inline-block;
	position: relative;
	margin-top: -3px;
	right: 35px;

}

.upcoming {
	position: relative;
	width: 980px;
	height: 225px;
	margin: 0 auto;

	

}	

.line2 {
	width: 950px;
	height: 0px;
	margin: 0 auto;
	position: relative;
	left: 225px;
	border-top: solid 1px rgb(177, 177, 177);
	border-bottom: solid 1px rgb(177, 177, 177);
	display: inline-block;
	
}

.upmobs {
	height: 23px;
	width: 155px;
	text-align: left;
	font-style: bold
}

.upbox {
	height: 50px;
	width: 225px;
	display: inline-block;
	position: relative;
	margin: 0 auto;
	left: 40px;
	
}

.uptext {
	height: 31px;
	width: 203px;
	position: relative;
	display: inline-block;
	font-weight: bolder;
	font-size: 23px;
	top: 20px;
}

/*table*/

.tg  {
	border-collapse:collapse;
	border-spacing:0;
	width: 480px;
	height: 130px;
	top: 36px;
	right: 215px;
	position: relative;
	margin: 0 auto;
}

.tg td{
	font-family:Arial, sans-serif;
	font-size:11px;
	padding:10px 8px;
	border-bottom: 1px solid gray;
}

.tg th{
	font-family:Arial, sans-serif;
	font-size:11px;
	font-weight:normal;
	padding:10px 5px;
	border-style:solid;
	border-width:0px;
}

.tg .tg-bold{
	font-weight:bold;
}

.tg .tg-nob3{
	font-weight:bold;
	font-size: 11px;
	border-bottom: 0px 
}

.tg .tg-nob4 {
	border-bottom: 0px;

}

.tg .tg100 {
	font-weight: 200px;
}

.tg .tg100no {
	font-weight: 300px;
	border-bottom: 0px;

}

.mobbox {
	height: 210px;
	width: 300px;
	display: inline-block;
	position: relative;
	left: 690px;
	bottom: 166px;
	background-color: rgb(208, 205, 199);

}

.starttext {
	height: 25px; 
	width: 252px;
	color: #fff;
	font-weight: 900;
	text-align: center;
	margin-top: 14px;
	margin-left: 17px;
	font-size: 25px;
	text-shadow: 0 1px 1px #000;

}

.startbox {
	height: 12px;
	width: 205px;
	background-color: rgb(189, 187,181);
	display: inline-block;
	position: relative;
	margin-left: 40px;
	margin-top: 37px;
}

.btn-box {
	height: 46px;
	width: 255px;
	margin-left: 17px;
	margin-top: -30px;
	position: absolute;
}

.btn-1 {
	text-shadow: 0 1px 1px #000;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	text-align: center;
	font-weight: bolder;
	line-height: 33px;
	text-shadow: 0 1px 0px rgba(255, 255, 255, 1);
	border: 1px solid rgba(128, 128, 128, 1);
	box-shadow: inset 0px 1px 0 0px rgba(255, 255, 255, 1),
    0 0 4px 1px rgba(0, 0, 0, 0.20);
	background: rgb(214,214,214); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(214,214,214,1) 1%, rgba(251,251,251,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(214,214,214,1)), color-stop(100%,rgba(251,251,251,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(214,214,214,1) 1%,rgba(251,251,251,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(214,214,214,1) 1%,rgba(251,251,251,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(214,214,214,1) 1%,rgba(251,251,251,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(204, 203, 203, 1) 1%,rgba(251,251,251,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6  ', endColorstr='#fbfbfb ',GradientType=0 ); /* IE6-9 */
}

.btn-2 {
	text-shadow: 0 1px 1px #000;
	height: 40px;
	width: 40px;
	margin-left: 102px;
	margin-top: -43px;
	border-radius: 50%;
	text-align: center;
	font-weight: bolder;
	line-height: 33px;
	display: inline-block;
	position: absolute;
	text-shadow: 0 1px 0px rgba(255, 255, 255, 1);
	border: 1px solid rgba(128, 128, 128, 1);
	box-shadow: inset 0px 1px 0 0px rgba(255, 255, 255, 1),
    0 0 4px 1px rgba(0, 0, 0, 0.20);
	background: rgb(214,214,214); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(214,214,214,1) 1%, rgba(251,251,251,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(214,214,214,1)), color-stop(100%,rgba(251,251,251,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(214,214,214,1) 1%,rgba(251,251,251,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(214,214,214,1) 1%,rgba(251,251,251,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(214,214,214,1) 1%,rgba(251,251,251,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(204, 203, 203, 1) 1%,rgba(251,251,251,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6  ', endColorstr='#fbfbfb ',GradientType=0 ); /* IE6-9 */
}

.btn-3 {
	height: 40px;
	width: 40px;
	margin-top: -43px;
	margin-left: 210px;
	border-radius: 50%;
	text-align: center;
	font-weight: bolder;
	display: inline-block;
	position: absolute;
	line-height: 33px;
	text-shadow: 0 1px 0px rgba(255, 255, 255, 1);
	border: 1px solid rgba(128, 128, 128, 1);
	box-shadow: inset 0px 1px 0 0px rgba(255, 255, 255, 1),
    0 0 4px 1px rgba(0, 0, 0, 0.20);
	background: rgb(214,214,214); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(214,214,214,1) 1%, rgba(251,251,251,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(214,214,214,1)), color-stop(100%,rgba(251,251,251,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(214,214,214,1) 1%,rgba(251,251,251,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(214,214,214,1) 1%,rgba(251,251,251,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(214,214,214,1) 1%,rgba(251,251,251,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(204, 203, 203, 1) 1%,rgba(251,251,251,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6  ', endColorstr='#fbfbfb ',GradientType=0 ); /* IE6-9 */

}

.list {
	height: 33px;
	width: 277px;
	margin-left: 8px;
	margin-top: 12px;
	text-align: left;
	font-size: 11px;
	display: inline-block;
}

.list1 {
	height: 30px;
	width: 75px;
	color: black;
	font-size: 13px;
	text-align: center;
}

.list2 {
	height: 30px;
	width: 65px;
	color: black;
	font-size: 13px;
	display: inline-block;
	text-align: center;
	margin-top: -31px;
	margin-left: 98px;
}

.list3 {
	height: 30px;
	width: 75px;
	color: black;
	font-size: 13px;
	display: inline-block;
	text-align: center;
	margin-left: 35px;
	margin-top: -31px;

}

.mobbutton {
	height: 60px;
	width: 280px;
	position: relative;
	border: 1px solid rgb(126, 123, 119);
	border-radius: 6px;
	line-height: 60px;
	color: #fff;
	font-size: 25px;
	text-align: center;
	margin-top: 0px;
	margin-left: 8px;
	z-index: 3;
	text-shadow: 0 1px 1px #fff;
	background: rgb(209,206,200); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(209,206,200,1) 0%, rgba(221,219,215,1) 51%, rgba(231,230,226,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(209,206,200,1)), color-stop(51%,rgba(221,219,215,1)), color-stop(100%,rgba(231,230,226,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(209,206,200,1) 0%,rgba(221,219,215,1) 51%,rgba(231,230,226,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(209,206,200,1) 0%,rgba(221,219,215,1) 51%,rgba(231,230,226,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(209,206,200,1) 0%,rgba(221,219,215,1) 51%,rgba(231,230,226,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(209,206,200,1) 0%,rgba(221,219,215,1) 51%,rgba(231,230,226,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1cec8', endColorstr='#e7e6e2',GradientType=0 ); /* IE6-9 */

}

.mobstart{
	margin-left: 70px;
	height: 25px;
	width: 135px;
	color: rgb(0, 129, 180);
	text-align: center;


}




.footer {
	height: 340px;
	min-width: 960px;
	margin: 0 auto;
	background-color: rgb(84,83,82);

}


.mobdiv {
	top: 25px;
	left: 179px;
	height: 290px;
	width: 282px;
	position: relative;
	display: inline-block;
	color: #fff;


}

.mobcatlist {
	display: inline-block;
	position: relative;


}


.footer-button {
	background-color: rgb(99, 99, 98);
	height: 38px;
	width: 138px;
	border: solid 1px rgb(46, 45, 46);
	border-radius: 6;
	box-shadow: inset 0 1px 1px rgb(145, 145, 144);
	color: #fff;
	text-align: center;
	line-height: 38px;

}



.mobcatlist2 {
	height: 240px;
	left: 140px;
	top: -200px;
	width: 146px;
	position: relative;
	display: inline-block;
}

/*so much div*/

.mobdiv2 {
	height: 290px;
	width: 282px;
	position: relative;
	display: inline-block;
	left: 200px;
	top: 25px;
}

.connect {
	height: 25px;
	width: 200px;
	color: #fff;
	text-align: center;
	font-size: 19px;
	font-weight: bolder;
	position: relative;
	left: 36px;
	text-shadow: 0 1px 3px #000;
}

.connect2 {
	height: 50px;
	width: 200px;
	color: #fff;
	font-size: 10px;
	text-align: center;
	display: inline-block;
	position: relative;
	left: 35px;
	top: 12px;
}

.input {
	height: 40px;
	width: 147px;
	border-radius: 5px;
	position: absolute;
	color: gray;
	font-size: 18px;
}

.capture {
	background-image: url("images/eshot.png");
	height: 185px;
	width: 240px;
	background-repeat: no-repeat;
	z-index: 3;
	display: inline-block;
	position: relative;
	left: 30px;
	top: 15px;
}


.mobdiv3 {
	height: 290px;
	width: 282px;
	position: relative;
	display: inline-block;
	top: 25px;
	left: 220px;
}

.works {
	top: 12px;
	left: 12px;
	position: relative;
	box-shadow: 0 2px 2px rgb(69, 68, 68);
	border: 1px solid rgb(210,143,0);
	border-radius: 6px;
	line-height: 60px;
	font-size: 20px;
	text-align: center;
	width: 255px;
	height: 57px;
	z-index: 3;
	text-shadow: 0 1px 1px rgb(180, 101, 0);
	background: rgba(241,231,103,1);
	background: -moz-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(254,182,69,1)));
	background: -webkit-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
	background: -o-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
	background: -ms-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
	background: linear-gradient(to bottom, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=0 );
}

.workstext {
	color: #fff;
	font-size: 22px;
	display: inline-block;
	font-weight: bolder;

}

.last	{
	width: 167px;
	height: 25px;
	color: #fff;
	font-size: 19px;
	font-weight: bolder;
	display: inline-block;
	position: relative;
	left: 60px;
	top: 30px;
}

.last2 {
	width: 202px;
	height: 50px;
	color: #fff;
	font-size: 11px;
	position: relative;
	display: inline-block;
	text-align: left;
	left: 50px;
	top: 40px;

}

.email {
	background-color: rgb(99, 99, 98);
	height: 38px;
	width: 138px;
	border: solid 1px rgb(46, 45, 46);
	border-radius: 6;
	box-shadow: inset 0 1px 1px rgb(145, 145, 144);
	color: #fff;
	text-align: center;
	line-height: 38px;
	display: inline-block;
	position: relative;
	left: 52px;
	top: 40px;
}

.etext {
	color: #fff;
	text-align: center;	
}

.lastline {
	width: 225px;
	border-top: solid 1px rgb(55, 55, 55);
	border-bottom: solid 1px rgb(55, 55, 55);
	display: inline-block;
	position: relative;
	top: 50px;
	left: 20px;
}

.finally {
	height: 35px;
	width: 143px;
	color: #fff;
	font-size: 13px;
	position: relative;
	display: inline-block;
	left: 45px;
	top: 56px;
}