
body {
	margin: 0 auto;
	padding: 0;
}


.header {
	height: 60px;
	min-width: 960px;
	background-image: url(http://s16.postimg.org/fs0bc9fqt/Screen_Shot_2014_01_14_at_7_44_06_PM.png);
  	background-position: center top;
  	background-repeat:repeat-x;
  	color: #fff;
  	opacity: 2;
}	


.header h1 {
	font-family: 'Molengo', sans-serif;
	height: 67px;
	min-width: 960px;
	padding: 10px;
	font-size: 15px;
	position: absolute;
	text-indent: 400px;
	margin: bottom;
}

.logo {
	height: 60px;
	margin-left: 160px;
	min-width: 960px;
	background-image: url(http://s23.postimg.org/6skr3zbzf/Screen_Shot_2014_01_14_at_11_02_54_PM.png);
	background-repeat: no-repeat;
	background-position: top-left;
	opacity: 1;

}

.header h2 {
	font-family: 'Molengo', sans-serif;
	height: 60px;
	min-width: 960px;
	padding: 10px;
	font-size: 15px;
	position: relative;
	
	margin: right;
}

.banner h4 {
	height: 70px;
	min-width: 960px;
	margin: 0px;
	background: #fff;
	text-align: center;
	font-family: 'Molengo', sans-serif;
	color: black;
	font-size: 35px;
	font-weight: -1px

}

.middle {
	height: 570px;
	min-width: 960px;
	background-color: rgb(242,240,236);
	position: relative;

}

.image {
	padding: 0px;
	margin-left: 160px;
	border-top: 100px;
	position: absolute;
	top: 50px;
	height: 160px;
	

}

.white {
	height: 600px;
	min-width: 960px;
	background-color: #fff
}

.footer {
	height: 200px;
	min-width: 960px;
	background-color: rgb(84,83,82);

}

